.formalization {
  @include adaptiveValue("padding-top", 64, 30);
  @include adaptiveValue("padding-bottom", 40, 34);

  // .formalization__container

  &__container {
  }

  // .formalization__path

  &__path {
  }

  // .formalization__title

  &__title {
    @include adaptiveValue("margin-bottom", 100, 50);
  }

  // .formalization__content

  &__content {
    @include adaptiveValue("gap", 32, 14);
    @media (max-width:$tablet){
      flex-direction: column;
    }
  }

  // .formalization__form

  &__form {
  }

  // .formalization__result	result-formalization

  &__result	{
    @media (min-width:$tablet){
      flex: 0 0;
      @include adaptiveValue("flex-basis", 415, 360, 0, 1100, 992);   
    }
  }
}

.form-formalization {
  flex-wrap: wrap;
  @include adaptiveValue("gap", 17, 10);

  // .form-formalization__item

  &__item {
    @include adaptiveValue("padding-top", 44, 24);
    @include adaptiveValue("padding-bottom", 44, 24);
    @include adaptiveValue("padding-left", 44, 5);
    @include adaptiveValue("padding-right", 44, 5);
    border: 1px solid $pinkColor;

    @media (min-width:$mobile){
      flex: 0 0;
      flex-basis: calc(50% - rem(10)); 
    }

    @media (max-width:$mobile){
      flex: 0 0 100%;
    }

    // .form-formalization__item_100p

    &_100p {
      flex: 0 0 100%; 
      // @media (min-width:$mobile){
      // }
    }
  }

  // .form-formalization__title

  &__title {
    font-weight: 700;
    @include adaptiveValue("font-size", 20, 16);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 52, 41);
    }
    @media (max-width:$mobile){
      margin-left: rem(20); 
    }
  }

  // .form-formalization__input 

  &__input {
    &::placeholder {
      font-size: rem(14);
    }
  }

  // .form-formalization__item-content

  &__item-content {
    @include adaptiveValue("column-gap", 62, 20, 0, 1450, 992);
    @include adaptiveValue("row-gap", 49, 23);
  }

  // .form-formalization__icon

  &__icon {
    position: absolute;
    top: rem(17);
    right: rem(17);
    width: rem(20);
    height: rem(22);
    pointer-events: none;
  }

  // .form-formalization__checkbox

  &__checkbox {
    &:not(:last-child) {
      margin-bottom: rem(26);
    }
  }

  .select {
    flex: 1 1 auto;
  }

  .select__body {
    width: 100%;
    height: 100%;
    @include adaptiveValue("padding-left", 15, 53);
    @include adaptiveValue("padding-right", 19, 23);
  }

  .select__value {
    flex: 1 1 auto;
  }

  .select__title {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    height: 100%;
    border: none;

    &::before{
      transition: all 0.4s ease 0s;
      font-size: rem(6);
    }
  }

  .select__options {
    top: 100%;
  }
}

.form-product {

  // .form-product__input

  &__input {
  }

  // .form-product__label

  &__label {
  }
}


.info-product {

  // .info-product__item

  &__item {
  }

  // .info-product__label

  &__label {
  }

  // .info-product__descr

  &__descr {
  }
}

.result-formalization {
  @media (max-width:$tablet){
    width: 100%;
  }

  // .result-formalization__card

  &__card {
    @include adaptiveValue("padding-left", 40, 19);
    @include adaptiveValue("padding-top", 39, 35);
    @include adaptiveValue("padding-right", 41, 5);
    @include adaptiveValue("padding-bottom", 41, 19);
  }

  // .result-formalization__input

  &__input {
    &:not(:last-child) {
      margin-bottom: rem(33);
    }

    .input {
      &::placeholder {
        opacity: 0.5;
      }
    }
  }

  // .result-formalization__label

  &__label {
  }

  // .result-formalization__btn

  &__btn {
    margin: 0 auto;
  }
}
