//<BUTTONS (a.btn+tab)>
// Сніппет (HTML): btn

.button {
	font-weight: 700;
	@include adaptiveValue("font-size", 16, 12);
	line-height: 1.5;
	color: $whiteColor;
	background-color: $pinkColor;
	box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.15);
	border-radius: 7px;
	position: relative;
	@include adaptiveValue("width", 220, 122);
	@include adaptiveValue("height", 63, 35);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.4s ease 0s;

	// .button_no-bg

	&_no-bg {
		background-color: transparent;
		border: 1px solid $pinkColor;
		color: $pinkColor;
		box-shadow: none;
	}

	@media (any-hover: hover){
		&:hover{
			background-color: #333;
		}
	}

	&::after{
		content:'';
		position: absolute;
		pointer-events: none;
		background: url('@img/header/1.png') center / contain no-repeat;
		width: rem(90);
		height: rem(130);
		top: rem(-33);
		right: 0;
	}
}
