// Заголовки, загальні БЕМ блоки та інше...

/* Стилизация скролла */
* {
  scrollbar-width: thin;
  scrollbar-color: $pinkColor $greyColor;
}

/* Работает в Chrome, Edge и Safari */
*::-webkit-scrollbar {
  width: 7px;
  border-radius: 15px;
}

*::-webkit-scrollbar-track {
  background: $greyColor;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: $pinkColor;
  border-radius: 15px;
}

//========================================================================================================================================================


.sociable {
  gap: rem(13);

  @media (max-width:$mobile){
    gap: rem(24);  
  }

	// .sociable__btn

	&__btn {
    color: $whiteColor;
    font-size: rem(15);
    width: rem(32);
    height: rem(32);
    border-radius: 50%;
    background-color: $pinkColor;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease 0s;

    @media (any-hover: hover){
      &:hover{
        background-color: #c0046e;
      }
    }

    @media (max-width:$tablet){
      font-size: rem(27);
      height: rem(50);
      width: rem(50);
    }
	}
}

// Hover ========================================================================================================================================================


.hhv-pink {
  transition: all 0.4s ease 0s;

  @media (any-hover: hover){
    &:hover{
      color: #c0046e;
    }
  }
}

.hhv-pink-grey {
  transition: all 0.3s ease-out 0s;

  @media (any-hover: hover){
    &:hover{
      color: $pinkColor;
    }
  }
}

// Decor ========================================================================================================================================================


.decor {
  position: absolute;
  height: rem(300);
  width: rem(300);

  // .decor_l

  &_l {
    left: rem(0);
    transform: rotate(12deg) scaleX(-1);
  }

  // .decor_r

  &_r {
    top: rem(-330);
    right: rem(-60);
  }
}

// Titles, text... ========================================================================================================================================================

.title {
  font-weight: 700;
  @include adaptiveValue("font-size", 48, 24);
  color: $blackColor;
  line-height: 100%;

  &_s36 {
    line-height: 139%;
    @include adaptiveValue("font-size", 36, 20);
    color: $mainColor;
  }
}

.path {
  gap: rem(26);
  color: $greyColor;
  line-height: 88.888889%; /* 16/18 */
  margin-bottom: rem(48);

  a {
    &:not(:last-child) {
      text-decoration-line: underline;

      @media (any-hover: hover){
        &:hover{
          text-decoration-line: none;
        }
      }
    }
  }
}

// Swiper ========================================================================================================================================================

.swiper-pagination {
  gap: rem(10);

  .swiper-pagination-bullet {
    @include adaptiveValue("width", 9, 4, 0, 992, 320);
    @include adaptiveValue("height", 9, 4, 0, 992, 320);
    background-color: $pinkColor;
    border-radius: 50%;
    position: relative;

    &::before{
      content:'';
      position: absolute;
      top: rem(-3);
      left: rem(-3);
      width: calc(100% + rem(6));
      height: calc(100% + rem(6));
      border-radius: 50%;
      border: 1px solid $pinkColor;
      transform: scale(0);
      opacity: 0;
    }
  }

  // .swiper-pagination_w

  &_w {
    .swiper-pagination-bullet {
      background-color: $whiteColor;

      &::before{
        border: 1px solid $whiteColor; 
      }
    }
  }

  .swiper-pagination-bullet-active {
    &::before{
      transform: scale(1);
      opacity: 1;
    }
  }
}

//  Products slider ========================================================================================================================================================

.products {
  @include adaptiveValue("padding-top", 65, 25);
  @include adaptiveValue("padding-bottom", 65, 25);
  position: relative;
  z-index: 2;
  // .products__title

    &__title {
      text-align: center;
      &:not(:last-child) {
        margin-bottom: rem(50);
      }
    }
}

.products-slider {
  overflow: hidden;
  padding: rem(3);
  margin-left: rem(-3);
  margin-right: rem(-3);
  position: relative;
  
  .swiper-pagination {
    justify-content: center;
  }

  // .products-slider__controls

  &__controls {
    position: absolute;
    top: rem(10);
    right: 0;
    gap: rem(27);

    @media (max-width:$mobile){
      display: none !important; 
    }

    button {
      color: $pinkColor;
      font-size: rem(28);
    }

    .swiper-button-prev {
      transform: rotate(90deg);
    }
    .swiper-button-next {
      transform: rotate(-90deg);
    }
  }

  // .products-slider__wrapper

  &__wrapper {
    row-gap: rem(22);

    @media (max-width:$mobile){
      margin-bottom: rem(21); 
    }
  }

  // .products-slider__slide

  &__slide {
  }

  .swiper-pagination {
    @media (min-width:$mobile){
      display: none; 
    }
  }
}


.slide-products {
  padding-top: rem(11);
  @include adaptiveValue("padding-right", 25, 9);
  @include adaptiveValue("padding-left", 25, 9);
  @include adaptiveValue("padding-bottom", 15, 11);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  background-color: $whiteColor;
  border: 1px solid $pinkColor;
  display: flex;
  flex-direction: column;

  @media (any-hover: hover){
    &:hover{
      .slide-products__like {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  // .slide-products__preview

  &__preview {
    position: relative;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
  }

  // .slide-products__discount-percent

  &__discount-percent {
    @include adaptiveValue("width", 56, 32);
    @include adaptiveValue("height", 56, 32);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;  
    line-height: 112%;
    color: $blackColor;
    @include adaptiveValue("font-size", 16, 10);
    border: 1px dashed #E72222;
    position: absolute;
    top: rem(-5);
    left: rem(-5);
    z-index: 2;
  }

  // .slide-products__like

  &__like {
    position: absolute;
    @include adaptiveValue("top", 22, 0);
    @include adaptiveValue("right", 24, 6);
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease 0s;

    &._active {
      .slide-products__like-btn {
        visibility: hidden;
        transform: scale(0);
      }
      .slide-products__like-btn_fill {
        visibility: visible;
        transform: scale(1);
      }
    }

    button {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      @include adaptiveValue("font-size", 28, 11);
      color: $pinkColor;
    }
  }

  // .slide-products__like-btn

  &__like-btn {
    transition: all 0.6s ease 0s;

    // .slide-products__like-btn_fill

    &_fill {
      visibility: hidden;
      transform: scale(0);
    }
  }

  // .slide-products__img

  &__img {
    min-width: 100%;
  }

  // .slide-products__label

  &__label {
    position: absolute;
    right: 0;
    @include adaptiveValue("right", -8, -3);
    @include adaptiveValue("bottom", 50, 16);
    z-index: 2;
    @include adaptiveValue("width", 56, 35);
    @include adaptiveValue("height", 56, 35);
    border-radius: 50%;
    background: rgba(157, 117, 140, 0.39);
    color: $pinkColor;
    @include adaptiveValue("font-size", 16, 10);
    line-height: 1.12;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // .slide-products__actions

  &__actions {
    margin-top: rem(15);
  }

  // .slide-products__stars

  &__stars {
    gap: rem(2);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 26, 11);
    }
  }

  // .slide-products__star

  &__star {
    color: #F8E582;
    @include adaptiveValue("font-size", 17, 8);
  }

  // .slide-products__info

  &__info {
    row-gap: rem(14);
    @include adaptiveValue("column-gap", 56, 20, 0, 1420, 992);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 38, 9);
    }
    @media (max-width:$mobileSmall){
      flex-direction: column; 
      align-items: center;
    }
  } 

  // .slide-products__title

  &__title {
    @include adaptiveValue("font-size", 18, 12);
    line-height: 100%;
    &:not(:last-child) {
      margin-bottom: rem(8);
    }
  }

  // .slide-products__prices

  &__prices {
  }

  // .slide-products__discount

  &__discount {
    white-space: nowrap;
    @include adaptiveValue("font-size", 18, 12);
    line-height: 1;
    color: #BDBDBD;
    text-decoration-line: line-through;
    &:not(:last-child) {
      margin-bottom: rem(2);
    }
  }

  // .slide-products__price

  &__price {
    white-space: nowrap;
    @include adaptiveValue("font-size", 18, 14);
    font-weight: 700;
    line-height: 1;
    color: $pinkColor;
    &:not(:last-child) {
      margin-bottom: rem(2);
    }
  }

  // .slide-products__btns

  &__btns {
    row-gap: rem(16);
    column-gap: rem(12);
    @media (min-width:em(650)){
      flex-direction: column; 
    }
    @media (max-width: em(650)){
      flex-direction: row-reverse; 
      justify-content: space-between;
    }
  }

  // .slide-products__btn

  &__btn {
    @media (min-width:em(650)){
      &::before{
        display: none;
      } 
    }
    @media (max-width: em(650)){
      width: rem(35);
      height: rem(35);
      border-radius: 50%;
      font-size: rem(20);

      &::before{
        margin-right: rem(3);
      }

      span {
        display: none;
      } 
    }

    // .slide-products__btn_no-bg

    &_no-bg {
      @include adaptiveValue("font-size", 18, 12);
      text-decoration: underline;
      color: $greyColor;
      @media (any-hover: hover){
        &:hover{
          text-decoration: none;
        }
      }

      @media (max-width: em(650)){
        flex: 1 1 auto;
        text-align: start; 
      }
    }
  }
}

//========================================================================================================================================================
