//====================================================================================================

.header {
	position: relative;
	z-index: 5;

	&::before{
		content:'';
		position: absolute;	
		top: 0;
		left: 0;
		width: 100%;
		@include adaptiveValue("height", 50, 43);
		background-color: $mainColor;

		._menu-open & {
			height: rem(73);
		}
	}

	// .header__container

	&__container {
		position: relative;
		z-index: 2;
	}
}
.header-top {
	@include adaptiveValue("min-height", 50, 43);

	// .header-top__item

	&__item {
	}
}

.item-header-top {
	gap: rem(15);
	position: relative;

	&:not(:first-child){
		@include adaptiveValue("padding-left", 32, 22, 0, 1500, 992);
	}
	&:not(:last-child) {
		@include adaptiveValue("padding-right", 32, 22, 0, 1500, 992);
	}

	@media (max-width:$mobileSmall){
		&:not(:last-child) {
			border-right: 1px solid $pinkColor; 	
		}
	}

	&::before{
		color: $pinkColor;
		font-size: rem(16);
	}

	// .item-header-top_dn-992

	&_dn-992 {
		@media (max-width:$tablet){
			display: none;
		}
	}

	// .item-header-top_dn-650

	&_dn-650 {
		@media (max-width: em(650)){
			display: none;
		}
	}

	// .item-header-top_dn-480

	&_dn-480 {
		@media (max-width:$mobileSmall){
			display: none; 
		}
	}

	// .item-header-top__list

	&__list {
		position: absolute;
		z-index: 6;
		top: 100%;
		left: rem(-50);
		min-width: rem(250);
		padding: rem(20) rem(50);
		background-color: $mainColor;
		row-gap: rem(10);
		transition: all 0.5s ease 0s;
		transform: translateY(40px);
		opacity: 0;
		visibility: hidden;

		._active & {
			visibility: visible;
			transform: translateY(0);
			opacity: 1;
		}

		.menu-open & {
			width: 100%;
			left: 0;
		}

		button {
			text-align: start;
		}
	}

	// .item-header-top__item

	&__item {
		color: $pinkColor;
	}

	// .item-header-top__derc

	&__derc {
		@include adaptiveValue("font-size", 16, 13);
		transition: all 0.4s ease 0s;
	
		@media (any-hover: hover){
			&:hover{
				color: $pinkColor;
			}
		}
	}

	// .item-header-top__btn

	&__btn {
		gap: rem(12);

		&::before{
			color: $whiteColor;
			font-size: rem(4);
			margin-top: rem(2);
			transition: all 0.4s ease 0s;

			._active & {
				transform: rotate(-180deg);
			}
		}

		span {
			font-size: rem(20);
		}
	}

	// .item-header-top__num

	&__num {
		position: absolute;
		top: rem(-8);
		left: rem(35);
		padding: rem(3) rem(6);
		background-color: rgba(256, 256, 256, 0.7);
		border-radius: 50%;
		font-size: rem(12);
	}
}

[data-parent-change] {
	.item-header-top__derc {
		@media (max-width: em(1180)){
			display: none; 
		}
	}
}

.header-content {
	@include adaptiveValue("padding-top", 28, 6);
	gap: rem(20);

	// .header-content__logo

	&__logo {
		flex: 0 0;
		@include adaptiveValue("flex-basis", 117, 75);

		@media (max-width:$mobileSmall){
			align-self: center; 
		}
	}

	// .header-content__content

	&__content {
		@include adaptiveValue("padding-left", 124, 30, 0, 1500, 992);
		@include adaptiveValue("padding-right", 214, 30, 0, 1500, 992);
	}

	// .header-content__search

	&__search {
	}

	// .header-content__menu

	&__menu {
	}
}

.search-header {
	gap: rem(20);
	@media (min-width:$tablet){
		padding-bottom: rem(47);	  
	}

	// .search-header__select

	&__select {
		border-bottom: 1px solid $pinkColor;
		position: relative;
		flex: 0 0 rem(219);
		color: $greyColor;

		@media (max-width:$tablet){
			display: none;
		}

		.select__title {
			display: flex;
			align-items: center;
			border: none;

			&::before{
				cursor: pointer;
				font-size: rem(6);
				color: $greyColor;
				transition: all 0.5s ease 0s;
			} 
		}


		.select__content {
			padding-left: rem(5);
			font-size: rem(14);
			line-height: 1.28%;
			white-space: nowrap;
		}
	}

	// .search-header__input

	&__input {
		position: relative;

		&._active {
			input {
				top: 0;
			}
		}

		input {
			padding-bottom: rem(10);
			border-bottom: 1px solid $pinkColor;
			transition: all 0.4s ease 0s;

			&:focus {
				outline: none;
				border-bottom: 3px solid #ac5687;
			}

			@media (max-width:$mobileSmall){
				position: fixed;
				top: -100%;
				left: 0;
				width: 100vw;
				height: rem(50);
				transition: all 0.4s ease 0s;
			}
		}

		button {
			@media (min-width:$mobileSmall){
				position: absolute;
				top: 0;
				right: 0;	  
			}

			&::before{
				font-size: rem(20);
				color: $pinkColor;
			}
		}
	}
}

.menu {

	// .menu__icon

	&__icon {
	}

	// .menu__descr

	&__descr {
		display: none; 

		.menu-open & {
			display: block;
		}
	}

	// .menu__body

	&__body {
		@media (max-width:$tablet){
			position: fixed;
			width: 100vw;
			height: 100vh;
			background-color: $whiteColor;
			z-index: 4;
			top: -100vh;
			left: 0;
			padding: rem(93) rem(13) rem(48) rem(13);
			transition: all 0.4s ease 0s;
			overflow: auto;

			&::before{
				content:'';
				position: fixed;
				z-index: 4;
				top: 0;
				left: 0;
				width: 100%;
				height: rem(73);
				background-color: $mainColor;
				visibility: hidden;
			}
			.menu-open & {
				top: 0;
				&::before{
					visibility: visible;
				}
			}
		}
	}

	// .menu__info

	&__info {
		@media (min-width:$tablet){
			display: none; 
		}
	}

	// .menu__info-item

	&__info-item {
		&::before{
			color: $pinkColor;
			font-size: rem(25);
		}
	}

	// .menu__info-num

	&__info-num {
		position: absolute;
		top: rem(18);
		right: rem(-10);
		width: rem(22);
		height: rem(22);
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		background-color: rgba(149, 109, 132, 0.7);
	}

	// .menu__item

	&__item {
		position: relative;

		@media (max-width:$tablet){
			border-bottom: 1px solid rgba(0, 0, 0, 0.2);
			padding-bottom: rem(23);
			&:not(:first-child) {
				padding-top: rem(26);
			}

		}

		// .menu__item_dn-992

		&_dn-992 {
			@media (min-width:$tablet){
				display: none; 
			}
		}
	}

	// .menu__list

	&__list {
		@media (min-width:$tablet){
			justify-content: space-between;
			column-gap: rem(20);
			row-gap: rem(15); 
			align-items: center;
		}

		@media (max-width:$tablet){
			flex-direction: column;
			justify-content: center;
			padding: rem(72) 0 rem(43) 0;
		}
	}

	// .menu__link

	&__link {
		gap: rem(6);
		transition: all 0.4s ease 0s;
		&.pink-color {
			font-weight: 700 !important;
		}

		&._icon-tel {
			width: 100%;
			gap: rem(14);
			&::before{
				transform: rotate(-7deg);
				font-size: rem(22);
				color: $pinkColor;
				margin-bottom: rem(5);
			}
		}

		@media (min-width:$mobileSmall){
			font-weight: 700;
		}

		@media (any-hover: hover){
			&:hover{
				color: $pinkColor;
			}
		}

		&::before{
			color: $mainColor;
			margin-top: rem(4);
			font-size: rem(5);
		}
	}
}

.header-contacts {
	gap: rem(20); 
	@media (min-width:$mobileSmall){
		flex-direction: column;
	}

	// .header-contacts__sociable

	&__sociable {
		&:not(:last-child) {
			margin-bottom: rem(20);
		}
	}

	// .header-contacts__phone

	&__phone {
		&:not(:last-child) {
			margin-bottom: rem(28);
		}
	}

	// .header-contacts__btn

	&__btn {
		@media (min-width:$mobile){
			display: none; 
		}
	}

	// .header-contacts__info

	&__info {
	}
}

.info-contacts {
	gap: rem(26);

	// .info-contacts__btn

	&__btn {
		font-size: rem(30);
		color: $pinkColor;
		position: relative;
		span {
			position: absolute;
			font-size: rem(8);
			font-weight: 700;
			color: $whiteColor;
			width: rem(16);
			height: rem(16);
			background-color: $pinkColor;
			border-radius: 50%;
			top: rem(-5);
			right: rem(-7);
			display: flex;
			align-items: center;
			justify-content: center;
		}

		// .info-contacts__btn_dn-600

		&_dn-600 {
			@media (max-width: em(600)){
				display: none; 
			}
		}
	}

	// .info-contacts__price

	&__price {
		color: $greyColor;

		@media (max-width: em(690)){
			display: none;
		}
	}
}



//====================================================================================================

//Burger

.icon-menu {
	display: none;
	position: relative;
	min-width: rem(30);
	height: rem(18);
	z-index: 5;

	.menu-open & {
		position: fixed;
		top: rem(30);
		right: rem(20);
	}
	
	@media (any-hover: none) {
		cursor: default;
	}
	span,
	&::before,
	&::after {
		content: "";
		transition: all 0.3s ease 0s;
		right: 0;
		position: absolute;
		width: 100%;
		height: rem(2);
		background-color: $pinkColor;
	}
	&::before {
		top: 0;
	}
	&::after {
		bottom: 0;
	}
	span {
		width: rem(20);
		left: rem(6);
		top: calc(50% - rem(1));
	}
	.menu-open & {
		span {
			width: 0;
		}
		span,
		&::before,
		&::after {
			background-color: $whiteColor;
		}
		&::before {
			top: calc(50% - rem(1));
			transform: rotate(-45deg);
		}
		&::after {
			bottom: calc(50% - rem(1));
			transform: rotate(45deg);
		}
	}
	@media (max-width:$tablet){
		display: block;
	}
}