//====================================================================================================

.mainscreen {
  @include adaptiveValue("padding-top", 55, 20);
  @include adaptiveValue("padding-bottom", 48, 27);
  position: relative;
  // .mainscreen__decor

  &__decor {
    top: rem(55) !important;
    right: rem(-110);

    @media (max-width:$mobileSmall){
      display: none; 
    }
  }

  // .mainscreen__container

  &__container {
    position: relative;
    z-index: 2;
  }
}

.mainscreen-slider {
  position: relative;

  // .mainscreen-slider__wrapper

  &__wrapper {
    @media (min-width:$tablet){
      display: grid !important;
      grid-template-columns: repeat(4, 1fr);  
      grid-template-rows: repeat(2, rem(320));
      row-gap: rem(30);
      column-gap: rem(20);
    }
  }

  // .mainscreen-slider__slide

  &__slide {
    position: relative;
    @include adaptiveValue("min-height", 320, 275);

    @media (min-width:$tablet){
      min-width: 100%;
      min-height: 100%;
    }

    @media (any-hover: hover){
      &:hover{
        .mainscreen-slider__title {
          color: $pinkColor;
        }
      }
    }

    // .mainscreen-slider__slide_big

    &_big {
      @media (min-width:$tablet){
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 3;   
      }

      // .mainscreen-slider__image-ibg

      .mainscreen-slider__image-ibg {
      }
    }
  }

  // .mainscreen-slider__image-ibg

  &__image-ibg {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
  }

  // .mainscreen-slider__title

  &__title {
    position: relative; 
    z-index: 2;
    padding: 0 rem(23);
    @include adaptiveValue("padding-top", 44, 21);
    @include adaptiveValue("padding-bottom", 44, 21);
    max-width: rem(450);
    transition: all 0.4s ease 0s;

  }

  // .mainscreen-slider__pagination

  &__pagination {
    position: absolute;
    bottom: rem(12);
    left: 50%;
    transform: translateX(-50%);

    @media (min-width:em(650)){
      left: 25%;
    }
    @media (min-width:$tablet){
      display: none !important; 
    }
  }
}

//========================================================================================================================================================

.main-info {
  @include adaptiveValue("padding-bottom", 65, 25);
  position: relative;

  // .main-info__container

  &__container {
    position: relative;
    z-index: 2;
    @include adaptiveValue("gap", 20, 8);
    @media (max-width:$mobileSmall){
      grid-template-columns: repeat(3, 1fr); 
      justify-content: space-between;
    }
  }

  // .main-info__decor

  &__decor {
    top: rem(-265);
    transform: rotate(-6deg) scaleX(-1);
    left: rem(-155);
    width: rem(350);
    @media (max-width: em(650)){
      display: none; 
    }
  }

  // .main-info__item

  &__item {
  }
}
.item-main-info {
  position: relative;

  @media (min-width:$mobileSmall){
    border: 1px solid $pinkColor;
    overflow: hidden;
    background-color: $whiteColor;
  }
  @media (max-width:$mobileSmall){
    text-align: center; 
    flex-direction: column;
  }

  // .item-main-info_1

  &_1 {
    @media (min-width:$mobileSmall){
      padding: rem(26) rem(37) rem(28) rem(20);
      .item-main-info__icon {
        text-align: end;
      }
    }
    @media (max-width:$mobileSmall){
      flex-direction: column-reverse; 
    }
  }

  // .item-main-info_2

  &_2 {
    text-align: center;
    @media (min-width:$mobileSmall){
      background-color: $pinkColor;
      padding: rem(20) rem(35) rem(23) rem(35);
      .item-main-info__title {
        color: $whiteColor;
      }
    }
  }

  // .item-main-info_3

  &_3 {
    @media (min-width:$mobileSmall){
      text-align: end;
      padding: rem(26) rem(20) rem(27) rem(33); 

      .item-main-info__image-ibg {
        transform: scaleX(-1);
      }
      .item-main-info__icon {
        text-align: start;
      }
    }
  }

  // .item-main-info__content

  &__content {
    position: relative;
    z-index: 2;

    @media (min-width:$mobileSmall){
      align-self: flex-end; 
      flex: 0 0 50%;
    }
  }

  // .item-main-info__title

  &__title {
    font-size: rem(24);
    line-height: 1.45;

    &:not(:last-child) {
      margin-bottom: rem(15);
    }

    @media (max-width:$mobileSmall){
      font-weight: 700;
      font-size: rem(10);
      span {
        display: none;
      } 
    }
  }

  // .item-main-info__text

  &__text {
    font-size: rem(14);
    line-height: 1.29;
    color: $greyColor;
    @media (max-width:$mobileSmall){
      display: none; 
    }
  }

  // .item-main-info__icon

  &__icon {
    @media (min-width:$mobileSmall){
      flex: 0 0 50%;   
    }
    @media (max-width:$mobileSmall){
      margin: 0 auto; 
    }

    &::before{
      position: relative;
      z-index: 3;
      color: $whiteColor;
      font-size: rem(100);
      margin-bottom: rem(11);

      @media (max-width:$mobileSmall){
        border: 2px solid $pinkColor;
        border-radius: 50%; 
        width: rem(91);
        height: rem(91);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: rem(46); 
        color: $pinkColor;
      }
    }
  }

  // .item-main-info__img-bg

  &__img-bg {
    position: absolute;
    z-index: 2;

    @media (max-width:$mobileSmall){
      display: none; 
    }

    // .item-main-info__img-bg_1

    &_1 {
      bottom: 0;
      right: 0;
    }
     // .item-main-info__img-bg_2

     &_2 {
      top: 0;
      left: 0;
    }
     // .item-main-info__img-bg_3

     &_3 {
      top: 0;
      right: 0;
    }

    // .item-main-info__img-bg_4

    &_4 {
      bottom: 0;
      left: 0;
    }
  }

  // .item-main-info__bg

  &__image-ibg{
    position: absolute;
    top: -2px;
    left: 0;
    width: 100%;
    height: calc(100% + 4px);

    @media (max-width:$mobileSmall){
      display: none; 
    }
  }
}

//========================================================================================================================================================

.forum {
  @include adaptiveValue("padding-top", 75, 55);
  @include adaptiveValue("padding-bottom", 40, 15);
  position: relative;

  // .forum__decor
  
  &__decor {
    transform: rotate(-20deg) scaleX(-1);
    left: rem(-130);
    @media (max-width:$tablet){
      display: none;
    }
  }

  // .forum__container

  &__container {
    position: relative;
  }

  // .forum__title

  &__title {
    text-align: center;
    &:not(:last-child) {
      margin-bottom: rem(55);
    }
  }

  // .forum__link

  &__link {
    color: $pinkColor;
    line-height: 1.125;
    @media (min-width:$mobileSmall){
      position: absolute;
      top: rem(50);
      right: 0;   
      padding-right: rem(10);
    }
    @media (max-width:$mobileSmall){
      text-decoration-line: underline; 
      justify-content: center;
      font-weight: 700;
    }

    span {
      @media (min-width:$mobileSmall){
        margin-right: rem(15);
      }
    }

    div {
      transform: rotate(-90deg);
      font-size: rem(8);
      margin-right: rem(0.5);
      transition: all 0.5s ease 0s;

      @media (max-width:$mobileSmall){
        display: none; 
      }
    }

    @media (any-hover: hover){
      &:hover{
        div {
          transform: translateX(10px) rotate(-90deg);
        }
      }
    }

  }
}

.forum-slider {
  &:not(:last-child) {
    margin-bottom: rem(36);
  }

  // .forum-slider__wrapper

  &__wrapper {
  }

  // .forum-slider__slide

  &__slide {
    @media (min-width:$mobile){
      &:not(:nth-child(1), :nth-child(2), :nth-child(3)) {
        display: none;
      } 
    }
  }

  // .forum-slider__pagination

  &__pagination {
    justify-content: center;
    margin-top: rem(23);
    @media (min-width:$mobile){
      display: none !important;  
    }
  }
}

.slide-forum {
  position: relative;

  &::after{
    content:'';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 72%;
    background-color: $pinkColor
  }

  // .slide-forum__content

  &__content {
    position: relative;
    z-index: 2;
    @include adaptiveValue("padding-right", 14, 9);
    @include adaptiveValue("padding-left", 14, 9);
    @include adaptiveValue("padding-bottom", 28, 10);
  }

  // .slide-forum__img

  &__img {
    @include adaptiveValue("margin-right", 10, 5);
    @include adaptiveValue("margin-left", 10, 5);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 28, 13);
    }
  }

  // .slide-forum__title

  &__title {
    @include adaptiveValue("font-size", 24, 16);
    line-height: 1.2;
    color: $whiteColor;
    transition: all 0.4s ease 0s;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 26, 10);
    }
    @media (any-hover: hover){
      &:hover{
        opacity: 0.4;
      }
    }
  }

  // .slide-forum__text

  &__text {
    font-size: 16px;
    line-height: 1.12;
    transform: rotate(0.13deg);
    color: $whiteColor;
    &:not(:last-child) {
      margin-bottom: rem(8);
    }
  }
}

//========================================================================================================================================================

.contacts {
  @include adaptiveValue("padding-top", 40, 15);
  padding-bottom: rem(83);

  @media (max-width:$mobile){
    margin-bottom: rem(200); 
  }

  // .contacts__container

  &__container {
    position: relative;
    background-color: $whiteColor;

  }

  // .contacts__map

  &__map {
    opacity: 0.5;
    position: relative;

    &::before{
      content:'';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg, rgba(149, 109, 132, 0.36), rgba(149, 109, 132, 0.36));
    }

    @media (max-width:$mobile){
      margin-left: rem(-15);
      width: calc(100% + 30px); 
    }

    iframe {
      pointer-events: none;
      @include adaptiveValue("min-height", 508, 385, 0, 992, 767);
    }
  }

  // .contacts__content

  &__content {
    position: absolute;
    @include adaptiveValue("right", 220, 0, 0, 1450, 600);
    z-index: 2;
    background: url('@img/contacts/1.png') center / cover no-repeat;
    @include adaptiveValue("padding-right", 70, 26);
    @include adaptiveValue("padding-left", 70, 26);
    @include adaptiveValue("padding-top", 25, 12);
    @include adaptiveValue("padding-bottom", 25, 12);
    @include adaptiveValue("gap", 42, 23);

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15), 4px 0px 10px rgba(0, 0, 0, 0.15);

    @media (min-width:$mobile){
      min-width: rem(380);
      min-height: 100%; 
      top: 0;
    }

    @media (max-width:$mobile){
      width: calc(100% - 30px);
      right: rem(15);
      top: 44.88189%; /* 171/381 */
    }
  }

  // .contacts__logo

  &__logo {
  }

  // .contacts__links

  &__links {
    @include adaptiveValue("gap", 25, 21);
  }

  // .contacts__item

  &__item {
    gap: rem(14);
  
    @media (min-width:$mobile){
      flex-direction: column; 
    }
    @media (max-width:$mobileSmall){
      flex-direction: column; 
    }
  }

  // .contacts__descr

  &__descr {
    color: $greyColor;
    line-height: 112.5%; /* 18/16 */
    @include adaptiveValue("font-size", 16, 12);
    gap: rem(9);
    &::before{
      font-size: rem(15);
      color: $pinkColor;
    }

    @media (max-width:$mobile){
      flex: 0 0 28.838951%; /* 77/267 */
    }
  }

  // .contacts__link-wrap

  &__link-wrap {
    gap: rem(14);
  }

  // .contacts__link

  &__link {
  }

  // .contacts__sociable

  &__sociable {
  }
}





//====================================================================================================
